node_modules
modelo
.docs
.claude

/4-bimestre/logica-de-programacao/aula01
/4-bimestre/logica-de-programacao/aula02

/4-bimestre/logica-de-programacao/aula05
/4-bimestre/logica-de-programacao/aula06

/4-bimestre/logica-de-programacao/aula09
/4-bimestre/logica-de-programacao/aula10

/4-bimestre/logica-de-programacao/aula13
/4-bimestre/logica-de-programacao/aula14

/4-bimestre/logica-de-programacao/projetos/projeto5
/4-bimestre/logica-de-programacao/projetos/projeto6
/4-bimestre/logica-de-programacao/projetos/projeto7
/4-bimestre/logica-de-programacao/projetos/projeto8